body {
    display: grid;
    background-color: rgb(0, 0, 0);
    margin:0px;
    
}
/*------------NAV----------------*/
nav {
    z-index: 0;
    position: absolute;
    display: grid;
    top: 0px;
    left:0px;
    right:0px;
    height: 75px;
    background-color: rgb(255, 139, 14);
    padding: 2px;
    margin: 0px;
    margin-bottom: 10px;
    grid-template-columns: 470px auto 1fr;
}
#search{
    border-radius: 1%;
    height: 25px;
    width: 200px;
    box-shadow: 2px 1px  rgb(0, 0, 0);
    position: absolute;
    left: 5px;
    top:50px;
}
#zsearch{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 53px;
    left:183px;
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 10px;
  }
.rightside a {
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    display: inline-block;
    background-color: black;
    padding:0px;
    margin: 1px;
    white-space: nowrap;
    overflow: hidden;
    z-index:0;
    
}
.middle {
    display: grid;
    position: absolute;
    right:55%;
    left:45%;
    float:none;
    color: white;
}
.triangle{
    display: grid;
    padding-left: 70px;
    padding-right: 100px;
    position: absolute;
    padding-left: 70px;
    padding-right: 100px;
    right:55%;
    left:45%;
    float:none;
    width: 0px;
    height: 0px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 80px solid black;
    z-index:-1;
    align-content: center;
}
.leftside a {
    display: inline;
    float: right;
    color:rgb(255, 255, 255);
    position: absolute;
    right: 5px;
    top:4px;
    background-color: rgb(0, 0, 0);
    border-radius: 0;
    margin:1px;
    padding:5px;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 130px;
}
.leftside a:hover{
    letter-spacing: 0.06em;
}
.leftside img {
    padding-left: 15px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline;
    float: right;
    position: absolute;
    right:10px;
    top: 40px;
}
.leftside img:hover{
    opacity: 0.7;
}
nav li {
    display: inline;
    margin-right: 20px;
  }
content{
    display: grid;

}
.sidebar{
    position: absolute;
    display: grid;
    justify-items: start;
    grid-area: sidebar;
    top: 80px;
    width:170px;
    height:1080px;
    background-color: rgb(247, 172, 75);
    z-index: -1;
}
/*--dropdown--*/
.dropb{
    list-style: none;
    font-weight: bold;
    float: center;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    background: #000000;
    padding: 1px;
    margin: 1px;
    text-decoration: none;
}
.shortkey > li:hover .dropb{
    z-index: 1;
    opacity: 1;
   
}
.dropb li{
    font-size: 12px;
    text-decoration: none;
   
}
.dropb li a{
    padding:2px;
    margin: 2px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-style: ridge;
}
.shortkey{
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.shortkey li {
    margin: 10px;
}
.shortkey a{
    color:  white;
    text-decoration: none;

}
/*-----end_sidebar-----*/
.cards{
    position: absolute;
    top:87px;
    grid-template-columns: 210px 210px 210px 210px;
    grid-template-rows: repeat(225px, 4);
    padding-bottom: 5px;
    margin-bottom: 5px;
    left:180px;
    z-index: 0;
    display: grid;
    grid-area: cards;
    z-index: 0;
}
.card{
    display: grid;
    height: 200px;
    max-width: 154px;
    background-color: rgb(241, 188, 109);
    padding: 5px 10px 10px 10px;
    margin: 5px;
    border-radius: 20%;
    border: rgb(255, 255, 255);
    border-style: ridge;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.rightbox{
display:grid;

} 
