.topnav { 
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    background-color:rgb(66, 175, 238);
    border-style: double;
}
.topnav a {
    float: left;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.topnav a:hover {
color: red;
background: whitesmoke;
}
.container1 {
    display: flex;
    
    margin-top: 60px;
    background-color:rgb(66, 175, 238);
}
.container1-box1 {
    display: flex;
    width: ;
}
.container1-box2 {

}
.container1-box3 {
    width: 80%;
    padding: 10px;
    margin: ;
    margin-top: 10px;
    background-color:rgb(66, 175, 238);
}
input[type=text] {
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    padding: 12px 15px 12px ;
  }
