body {
    background-color: black;
    margin:0px;
    color :rgb(245, 173, 91);
}
h1, h2 {
    padding-bottom: 20px;
    margin: 0;
    color: rgb(255, 139, 14);

}
.contactgegevens {
    justify-content: space-evenly;
    flex-direction: column-reverse;
}
.betaalmethoden {
    justify-content: space-evenly;
    flex-direction: column-reverse;
    
}
.contactgegevens img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 7px;
}
.betaalmethoden img {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    border-radius: 7px;
}


